[submodule "projeto"]
	path = projeto
	url = git@github.com:fczuardi/pgsm-projeto.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:fczuardi/pgsm.wiki.git
[submodule "www/wp-content/themes/pgsm-boilerplate-child"]
	path = www/wp-content/themes/pgsm-boilerplate-child
	url = git@github.com:fczuardi/pgsm-boilerplate-child.git
